* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
header nav {
    min-width: 320px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    background-color: #57cc99;
}
header nav li {
    list-style: none;
    display: inline-flex;
    margin-right: 10px;
}
header .facebook-logo {
    background-image: url('/Assets/facebook-circular-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
header .instagram-logo {
    background-image: url('/Assets/instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}
header .twitter-logo {
    background-image: url('/Assets/twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}
header section{
    width: 100%;
    height: 40px;
    background-color: #c7f9cc;
    display: flex;
}
header section .header-logo {
    background-image: url('/Assets/plant.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
}
header section p {
    font-size: 2rem;
    margin-top: 7px;
}
header section .sobremi {
    margin-top: 7px;
    font-size: 2rem;
    margin-left: calc(90% - 70px);
    text-decoration: none;
    color: black;
}
main {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    background-image: url(/Assets/niclas-illg-FJ5e_2f96h4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1 {
    padding-top: 60px;
    color: #80ed99;
    text-align: center;
    font-size: 2.4rem;
}
main .main-button {
    margin-top: 50px;
    font-size: 2rem;
    background-color: #57cc99;
    color: white;
    border-radius: 10px;
    padding: 10px;
}